@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #9a3412;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 600;
}

h2 {
  font-size: 1.4em;
}

@layer components {
  .btn {
    @apply bg-orange-100 px-4 py-2.5 rounded-lg font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-orange-700 text-white hover:bg-orange-800;
  }

  .btn-secondary {
    @apply bg-orange-100 text-orange-800 hover:bg-orange-200;
  }

  .btn-disabled {
    @apply opacity-60 cursor-not-allowed;
  }

  .input {
    @apply border border-orange-800 rounded-lg px-4 py-2.5 placeholder-orange-800 outline-orange-800;
  }

  .suggestion {
    @apply border-orange-200 border rounded-lg bg-orange-100 shadow max-h-60 overflow-y-auto;
  }

  .suggestion-buttons {
    @apply bg-white hover:bg-orange-200 rounded-none block;
  }
}
